.banner{
    width: 100%;
    height: 550px;
  }
  .back{
    background-image: url("images/blog1.jpg");
    width:100%;
    height: 550px;;
    background-size:cover;
    margin-top: 100px;
  }
  .sosial{
    border-bottom: 1px solid gray;
  }
  
  
  .sosial ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
  }
  .sosial ul li{
    margin: 8px;
  }
  .sosial ul li a{
  font-size: 17px;
  color: black;
  transition: 200ms;
  }
  .sosial ul li a:hover{
    color: yellowgreen;
    transition: 200ms;
  }
  .sosial ul select {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  font-family: 'Cormorant Garamond', serif;
  }
  .sosial ul select option{
    color: black;
    cursor: pointer;
  }
  .sosial ul select option:hover{
  color: goldenrod;
  }
  .number{
    margin-top: -50px;
  display: flex;
  justify-content: flex-start;
  flex-shrink: 0;

  }
  .number ul {
    list-style: none;
  }
  .number ul li a{
    font-size: 14px;
    font-family: 'Cormorant Garamond', serif;
  color: black;
  text-decoration: none;
  transition: 500ms;
  }
  .number ul li a:hover{
    color:yellowgreen;
    transition: 500ms;
  }
  .number ul li a i{
    color: yellowgreen;
    
  }
 .navbar{
   width: 100%;
   background-color: #1A5221;
   margin: 0;
   padding: 0;
   border-bottom: 4px solid #FFBF00;
   height: 80px;
   
 }
 .container-fluid button span{
   color: white;

 }




  .container-fluid ul li a{
    color: black;}
    nav{
        margin-top: 10px;
        margin-left: 15px;
        float: right;
      }
      .container-fluid ul li a{
        font-size: 17px;
        font-family: 'Cormorant Garamond', serif;
        transition: 500ms;
      }
      .container-fluid ul li :hover{
      border-bottom: 1px solid yellowgreen;
      }
     
      .container-fluid ul li a:hover{
        color: yellowgreen;
        transition: 500ms;
      }
      .container-fluid ul li{
        margin-left: 20px;
      }
      .container-fluid ul li a i{
        color: black;
      }
      .container-fluid ul li a i:hover{
        color:yellowgreen;
      }
      .logo{
        margin-top: 25px;
      }
      .m{
          display: flex;
          flex-direction: row;
          margin-top: 20px;
      }
  .m h1{
      font-size: 32px;
      font-weight: bold;
      font-family: 'Cormorant Garamond', serif;
  }
  .m p{
    font-family: 'Cormorant Garamond', serif;
  }
.img{
   margin-left: 200px;
}
.col-lg-6 h2{
  font-family: 'Cormorant Garamond', serif;
}
.col-lg-6 h1{
    font-family: 'Cormorant Garamond', serif;
}
.col-lg-6 p{
    font-family: 'Cormorant Garamond', serif;
    font-size: 17px;
    width: 100%;
}

.col-md-3 h1{
font-size: 20px;
font-weight: bold;
color: black;
font-family: 'Cormorant Garamond', serif;


}
.col-md-3 ul li a{
  color: black;
  transition: 500ms;
  font-family: 'Cormorant Garamond', serif;
}
.col-md-3 ul li a:hover{
  color: #FFBF00;
  transition: 500ms;
}

.col-md-3 ul li{
display: flex;
justify-content: flex-start;
}
.copyright{
  width: 100%;
  border-top: 1px solid black;
  height:25px;
  margin-top: 15px;

}
.copyright h6{
  color: black;
  font-size: 17px;
  margin-top: 15px;
  font-family: 'Cormorant Garamond', serif;
}
.col-lg-3 h1{
  color: gray;
  font-size: 100px;
  font-family: 'Cormorant Garamond', serif;
   }
   .col-lg-6 h6{
     color:yellowgreen;
   }
   .nav-link.active{
    padding: 10px;
    background-color: #4ca800;
    border-radius: 5px;
    color: white;
  
  }
  .preloader{
    background: url(images/prelader.svg) no-repeat center center;
    background-size: 15%;
    width: 100%;
    height: 100vh;
  }
  #n {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #n ul {
    display: flex;
    justify-content: center;
  }
  #n ul li a{
    color: black;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    transition: 500ms;
  }
  
  
  
  #n ul li a:hover {
    color: #91B40D;
    transition: 500ms;
  }
  

  
  .row{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .armudtext{
    width: 100%;
    height: 70px;
    box-shadow: 3px 3px 8px rgb(231, 226, 226);
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 5px;
   }
   .armudtext h6{
     color: yellowgreen;
     font-family: 'Cormorant Garamond', serif;
   }
   .armudtext h4{
    font-family: 'Cormorant Garamond', serif;
   }
   .col-2{
  cursor: pointer;
   border-radius: 5px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     transition: 400ms;
     transition: transform .5s; /* Animation */
  margin: 0 auto;
     
   }
   .col-2:hover{
    box-shadow: 3px 3px 8px rgb(231, 226, 226);
    transition: 400ms;
    transform: scale(1.1); 
    background-color: white;

    
   }
.col-2 img{
  margin-left: 30px;
}
  .nb .visited{
    color: #4ca800;
  }
  .footer{
    width: 100%;
    height: 30vh;
   background-image: url(/bizkimik/footer-curve.svg);
   background-repeat: no-repeat;
   background-size: cover;
  }
  .foot{
    background-color: #f3f3f3;
    width: 100%;
    height: 50vh;
  }
  .con{
    background-color: #f3f3f3;
  }
  .row{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .col-lg-4 h3{
    font-weight: bold;
  }
  .col-md-3 img {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20%;
  }
  .col-md-3 h1{
    text-align: center;
  }
  
.col-lg-2 {
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: 400ms;
  transition: transform .5s;
  /* Animation */
  margin: 0 auto;
}

.col-lg-2:hover {
  box-shadow: 3px 3px 9px rgb(206, 199, 199);
  transition: 400ms;
  transform: scale(1.1);
}
.col-lg-2 h1 {
  color: gray;
  font-size: 100px;
  font-family: 'Cormorant Garamond', serif;
}
.c h6 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 20px;
}

.c p {
  color: #4ca800;
  font-weight: bold;
}

.c:hover {
  box-shadow: 3px 3px 8px rgb(161, 156, 156);
  transition: 400ms;
}

.c {
  height: 60px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.c a{
  text-decoration: none;
  color: black;
}
.c a:hover{

  color: black;
}
#row2 {
  margin-top: 20px;
  width: 100%;
}